@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  /* head1-sb-28 */
  --text-h1: 1.75rem;
  --text-h1--line-height: 1.35;
  --text-h1--letter-spacing: -0.005em;
  --text-h1--font-weight: 600;

  /* head2-sb-24 */
  --text-h2: 1.5rem;
  --text-h2--line-height: 1.35;
  --text-h2--letter-spacing: -0.005em;
  --text-h2--font-weight: 600;

  /* title1-sb-20 */
  --text-t1: 1.25rem;
  --text-t1--line-height: 1.35;
  --text-t1--letter-spacing: -0.005em;
  --text-t1--font-weight: 600;

  /* title2-sb-16 */
  --text-t2: 1rem;
  --text-t2--line-height: 1.35;
  --text-t2--letter-spacing: -0.005em;
  --text-t2--font-weight: 600;

  /* body1-m-16 */
  --text-b1: 1rem;
  --text-b1--line-height: 1.5;
  --text-b1--letter-spacing: -0.01em;
  --text-b1--font-weight: 500;

  /* body2-r-16 */
  --text-b2: 1rem;
  --text-b2--line-height: 1.5;
  --text-b2--letter-spacing: -0.01em;
  --text-b2--font-weight: 400;

  /* body3-sb-14 */
  --text-b3: 0.875rem;
  --text-b3--line-height: 1.5;
  --text-b3--letter-spacing: -0.01em;
  --text-b3--font-weight: 600;

  /* body4-m-14 */
  --text-b4: 0.875rem;
  --text-b4--line-height: 1.5;
  --text-b4--letter-spacing: -0.01em;
  --text-b4--font-weight: 500;

  /* body5-r-14 */
  --text-b5: 0.875rem;
  --text-b5--line-height: 1.5;
  --text-b5--letter-spacing: -0.01em;
  --text-b5--font-weight: 400;

  /* caption1-sb-12 */
  --text-c1: 0.75rem;
  --text-c1--line-height: 1.5;
  --text-c1--letter-spacing: -0.01em;
  --text-c1--font-weight: 600;

  /* caption2-m-12 */
  --text-c2: 0.75rem;
  --text-c2--line-height: 1.5;
  --text-c2--letter-spacing: -0.01em;
  --text-c2--font-weight: 500;

  /* caption3-r-12 */
  --text-c3: 0.75rem;
  --text-c3--line-height: 1.5;
  --text-c3--letter-spacing: -0.01em;
  --text-c3--font-weight: 400;
}

@layer base {
  body {
    font-family:
      "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
